.gitbook-link {
	display: none !important;
}
pre {
	overflow-y: auto;
	max-height: 300px;
}
h1{
    border-bottom: 1px solid #EFEAEA;
    color: #0288C1;
}
h2{
    border-bottom: 1px solid #EFEAEA;
    color: #039FE5;
}
li.chapter span{
	font-weight: bold;
	color: #333333 !important;
}